<header id="header-block">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 no-padding-right">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            {{#link-to "index" class="navbar-brand"}}
              <img src="../images/logo.png" alt="the American Institute of Architects">
            {{/link-to}}
          </div>          
          <div class="collapse navbar-collapse" id="primary-menu">
            <ul class="nav navbar-nav navbar-right">
              {{#if isLoggedin}}
                <li><a href="#" {{action "signOut"}}>Sign out</a></li>
              {{else}}
                <li><a href="#" {{action "signIn"}}>Sign in</a></li>                
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>