<table class="duestable payment-archipac-table">
  <tbody>
    <tr>
      <td style="80%">
        {{input type="checkbox" classBinding=":form-checkbox" id="archipac-check" name="archipac_check" checked=(mut (get primaryData.data.paymentInfo "isArchiPAC"))}}
        
      <label class="option archipac-label" for="archipac-check">
      <span>Archipac</span> donation: a political action committee of the AIA.</label>
      <p class="note">Note: this donation must be paid using a personal credit or debit card. <span><br>Read <a href="#">disclaimer</a></span>
      </p></td>
      <td align="right" style="width:20%;" id="archipac-value" class="value">&nbsp;&nbsp;&nbsp; $ 25.00</td>
    </tr>
  </tbody>
</table>