<tr style="display:none">
  <td><input type="checkbox" id="archipac-check" name="" value="1" class="form-checkbox required" checked>
  <label class="option archipac-label" for="archipac-check">
  <span>Archipac</span>, a political action committee of the AIA, donation</label></td>
  <td id="archipac-value" class="value">$ 25.00</td>
</tr>
