<table class="duestable payment-archipac-table result">
  <tbody>
    <tr>
      <td>
        {{input type="checkbox" classBinding=":form-checkbox" id="archipac-check" name="archipac_check" checked=(mut (get primaryData.data.paymentInfo "isArchiPAC"))}}
        <label class="option archipac-label" for="archipac-check"></label>
        <p class="archipac-text"><strong><span>Archipac</span> donation</strong><br>
        A political action committee of AIA. <em>Note: this donation must be paid using a personal credit or debit card.</em><br>
        <!--Read <a href="#" onclick={{action "showArchipacDis"}}>disclaimer.</a>-->
        </p>
      </td>
      <td align="right" id="archipac-value" class="value"><span class="right-space">{{#if primaryData.data.paymentInfo.isArchiPAC}}$ 25.00{{/if}}</span></td>
    </tr>
  </tbody>
</table>
<!--<div id="archipac_dis_modal"></div>
  <div id="archipac_disclaiminfo">
    <p>
        Contributions to ArchiPAC are not tax deductible. Contributions are voluntary and will be used for political purposes; you may refuse to contribute without reprisal. Contribution guidelines are only suggestions, you may contribute more or less than the suggested amounts and you will not be favoured or disadvantaged based on the amount of your contribution or your decision not to contribute. All contributions must be from U.S. citizens or lawful permanent residents (e.g., green card holders), from personal funds, and may not be made by anyone who is a federal government contractor. Corporate contributions are prohibited by federal law. Federal law requires political committees to use their best efforts to collect and report the name, address, employer and occupation of individuals whose contributions exceed $200 in a calender year.
    </p>
</div>-->
