<ul class="nav navbar-nav navbar-right">
  <li><a href="http://www.aia.org/">Home</a></li>
  {{#if auth.user}}
    <li><a href="#" {{action "logout"}}>Sign out</a></li>
  {{else}}
    {{#using-janrain as |enabled janrain|}}
      <li><a href="#" {{action janrain.login}}>Sign in</a></li>
    {{/using-janrain}}
  {{/if}}
  <li><a href="http://www.aia.org/join/">Join now</a></li>
</ul>