{{#ember-chosen id=(concat idPrefix '_state') name=(concat namePrefix '_state') class=(concat class ' form-select select-chosen') value=mutable chosenValueChanged=chosenValueChanged}}
  <option value="">Select</option>
  {{#each states as |state|}}
    <option value="{{state.statekey}}" selected={{isEqualTo state.statekey selected}}>
      {{state.statename}}
    </option>
  {{/each}}
{{/ember-chosen}}