<div class="tax-deductibles-block block-pane">
  <h3>Tax deductible percentage</h3>
  <div class="result-wrapper">
    <div class="result">
     {{#if chapters.national}}
      <div>
        <label>National:</label>
        <span>{{chapters.national.taxdeductible}}%</span>
      </div>
		{{/if}}
		{{#if chapters.state}}
      <div>
        <label>State:</label>
        <span>{{chapters.state.taxdeductible}}%</span>
      </div>
		{{/if}}
		{{#if chapters.local}}
      <div>
        <label>Local:</label>
        <span>{{chapters.local.taxdeductible}}%</span>
      </div>
     {{/if}}
    </div>
  </div>
</div>

<div class="clearfix"></div>