<div class="disclosures block-pane">
  <h3 class="title">Disclosures</h3>
  <div class="clearfix"></div>
  <div class="body">
    <p>
      <a href="http://www.aia.org/about_privacy/index.htm" target="_blank">Privacy ›</a>
    </p>
    <p>
      <a href="https://www.aia.org/pages/3296-code-of-ethics--professional-conduct" target="_blank">Ethics statement ›</a>
    </p>
    <p>
      <a href="https://www.aia.org/pages/25646-terms-and-conditions-for-online-join-and-ren" target="_blank">Terms of service ›</a>
    </p>
  </div>
</div>
<div class="clearfix"></div>
