<div class="disclosures block-pane">
  <h3 class="title">Disclosures</h3>
  <div class="clearfix"></div>
  <div class="body">
    <p>
      <a href="https://www.aia.org/pages/22691-privacy-policy" target="_blank">Privacy ›</a>
    </p>
    <p>
      <a href="http://www.aia.org/about/ethicsandbylaws/AIAS077625" target="_blank">Ethics statement ›</a>
    </p>
    <p>
      <a href="http://www.aia.org/members/memberresources/AIAB099486" target="_blank">Terms of service ›</a>
    </p>
  </div>
</div>
<div class="clearfix"></div>