#footer-block {
  padding: 40px 0 63px 0;
  background:#e3e3e4;
  font: 14px/1.5 'Architype-Light',sans-serif;
  color: #333333;
}
#footer-block .list-horizontal {
  margin: 0;
}
#footer-block .list-horizontal li + li:before{
  content: "|";
  padding: 0 8px;
  color: #333333;
}

@media (max-width: 767px) {
  #footer-block  {
    text-align: center;
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  #footer-block  {
    text-align: left;
    padding: 10px 0;
  }
  #footer-block .list-horizontal li {
    display: list-item;
    border-bottom: 1px solid #CCC;
    padding: 8px 10px;
  }
  #footer-block .list-horizontal li:last-child{
    border-bottom: 0;
  }
  #footer-block .list-horizontal li + li:before {
    display: none;    
  }
}