.qitem-wrapper, .form-type-radio {
	position: relative;
}
input[type="radio"]:not(old) {
	border: 0 none;
	height: 22px;
	left: 5px;
	margin: 0;
	opacity: 0;
	padding: 0;
    position: absolute;
	top: 5px;
	width: 28px;
}
input[type="radio"]:not(old) + label {
	background: rgba(0, 0, 0, 0) url("../images/radio-unselected.png") no-repeat 4px 2px;
	display: inline-block;
	line-height: 28px;

	padding-left: 40px;
}
input[type="radio"]:checked:not(old) + label {
	background: rgba(0, 0, 0, 0) url("../images/radio-selected.png") no-repeat 4px 2px;
	cursor: default;
}

input[type="button"] {
	margin-top: 20px;
}

.chosen-container{
  margin-bottom:10px;
  width:449px;
}

.chosen-container-single .chosen-single, .group-education-information .chosen-container-single .chosen-single {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  padding: 13px 0 0 17px;
  white-space: normal;
  width: 100%;
}
.form-type-select .chosen-container, .group-education-information .chosen-container-single .chosen-single {
  width: 100%!important;
}
.chosen-container-active.chosen-with-drop .chosen-single, .group-education-information .chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #ccc;
  background-image: none;
  box-shadow: none;
}
.chosen-container-active.chosen-with-drop .chosen-single div b, .group-education-information .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: 0px 0px;
}
.chosen-container-single .chosen-drop, .group-education-information .chosen-container-single .chosen-drop {
  border-radius: 0;
  width: 100%;
}
.chosen-container .chosen-drop, .chosen-container .chosen-drop {
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: none
}
.chosen-container-single .chosen-single span, .group-education-information .chosen-container-single .chosen-single span {
  color: #000;
}
.chosen-container-single .chosen-drop .chosen-results, .group-education-information .chosen-container-single .chosen-drop .chosen-results {
  color: #000;
}
.chosen-container-single .chosen-single {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  padding: 13px 0 0 17px;
  white-space: normal;
}
.chosen-search input[type="text"] {
  width:100% !important;
  padding:10px !important;
}
.chosen-container-single .chosen-single div {
  width: 48px;
}
.chosen-container-single .chosen-single div b {
  background: rgba(0, 0, 0, 0) url("../images/drop-down-arrow.png") no-repeat scroll 0 0 !important;
}
.form-type-select .chosen-container, .chosen-drop {
  width: 100% !important;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: none;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: 0 0;
}
.chosen-container-single .chosen-drop {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  box-shadow: none;
}
.chosen-container .chosen-results {
  max-height: 200px;
}
.state.chosen-container .chosen-results {
  max-height: 150px;
}
/* Custom checkbox Start*/

input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
	border: none;
	opacity: 0;
	position: absolute;
}
input[type="checkbox"]:not(:checked) + label, 
input[type="checkbox"]:checked + label {
	cursor: pointer;
	padding-left: 25px;
	position: relative;
}
input[type="checkbox"]:not(:checked) + label:before, 
input[type="checkbox"]:checked + label:before {
  background-color: #fff;
	border: 1px solid #d1d2d3;
	content: '';
	height: 17px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 17px;
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="checkbox"]:checked + label:after {
	color: #fa4132;
	content: '✔';
	font-size: 1.9rem;
	left: 0px;
	position: absolute;
	top: -3px;
}
input[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
}
input[type="checkbox"]:checked + label:after {
	opacity: 1;
}
@media (min-width: 320px) and (max-width: 1023px){
  .chosen-container {
    width: 100% !important;
  }
}