#main-content {
  &.page-personal-info {
    padding-top:0;
    .page-title {
      margin-bottom: 0 !important;
      margin-top: 40px;
      padding-bottom: 4px;
    }
    h3 {
      &.sign-up-subheading{
        margin-bottom:48px;
        margin-top:53px;
      }
    }
    .common-form {
      ul {
        li {
          &.inline-bl{
            display:inline-block;
            width:65%;
            input[type="text"]{
              display:inline-block;
              float:left;
            }
          }
        }
      }
      .all-info {
        padding-left: 20px;
        padding-right:20px;
      }
      .separator {
        border-bottom: 1px solid #cccccc;
        clear: both;
        height: auto;
        padding: 0 0 33px;
        zoom: 1;
      }
      .description {
        display: none !important;
      }
      input {
        &[type="text"] {
          &.input-middle-name {
            width: 80px !important;
          }
        }
      }
      #field-middle-name{
        width: 50px;
      }
    }
    .personal-contact {
      &.common-form {
        input[type="text"] {
          &#primary_home_zipcode {
            width: 49%;
          }
        }
        .state {
          width: 35%;
        }
        .address-block-container {
          .chosen-container{
            margin-bottom:10px;
            width:67% !important;
          }
          #company-organization {
            .state {
              width: 33.5%;
            }
          }
          .calc-button {
            float: left;
            margin-left: 30px;
          }
          .back-grey {
            background-color: #f2f2f3;
            padding: 20px;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}
.button-to-link input[type="submit"], .button-to-link input[type="submit"][disabled="disabled"] {
    background: transparent !important;
    color: #fa4132 !important;
    font-size: 1.6rem;
    margin: 0;
    padding-top: 18px;
}


.common-form  .due-add-my-work-address label,
.common-form  .due-add-my-home-address label{
  background: transparent url("../images/plus-sign.png") left center no-repeat;
  cursor: pointer;
  color: #de322e;
  padding-left: 40px;
  padding:25px 0 25px 40px;
}
.due-add-my-work-address input[type="checkbox"] + label:after,
.due-add-my-work-address input[type="checkbox"] + label:before,
.due-add-my-home-address input[type="checkbox"] + label:after,
.due-add-my-home-address input[type="checkbox"] + label:before {
  display: none;
}
.due-add-my-work-address input[type="checkbox"]:checked + label,
.due-add-my-home-address input[type="checkbox"]:checked + label {
  background: transparent url("../images/minus-sign.png") left center no-repeat;
}

.form-autocomplete {
  background-image: url(../images/throbber-inactive.png);
  background-position: 100% center;
  background-repeat: no-repeat;
}

.actions-btn{
    margin-bottom: 95px;
}
.actions-btn .edit-prev{
    padding-top: 24px;
}

.actions-btn  input[type="submit"],
.actions-btn .link-to-button a {
    width: 280px;
    display: inline-block;
}

.mode-workAddress .due-add-my-home-address, .mode-add-company  .due-add-my-home-address {
  display: none;
}

.mode-homeAddress .due-add-my-work-address {
  display: none;
}

.mode-add-company:not(.mode-workAddress) .homeAddress-container {
  display: none;
}
.referral-block{
	margin-bottom:32px;
}
.add-clear-btn{
  float:right;
  font-weight:normal;
  margin-right:20%;
  cursor:pointer;
  color: #ef4135;
  font-size: 1.6rem;
  text-align: right;
}

.common-form ul li.inline-bl > select.form-select, .common-form ul li.inline-bl input[type="text"].year-txt{
	width:44%;
	float:left;
	margin-right:15px;
}
.common-form ul li.inline-bl input[type="text"].year-txt{
	width:25%;
}

#work-address.back-grey.block .info-left div {
    background-color: #fff;
    border: 1px solid #ccc;
    min-height: 110px;
    margin: 7px 0 56px 0px;
    padding: 14px 20px;
    width: 55%;
    line-height: 20px;
    clear: both;
}
.mobile-bottom{
	display:none;
}
#company-organization {
  margin-top: -50px;
}
input:disabled {
  background-color: #ccc!important;
}
.personal-contact.common-form select.form-select,
.personal-contact.common-form input[type="text"]:not(.date-clear) {
  width: 67%;
}
#company-organization .creative-zip {
  padding-right: 20px;
}
#company-organization .state + .creative-zip {
  padding-right: 0px;
}
@media (min-width: 320px) and (max-width: 767px){
	.common-form .form-type-radio{
		margin: 15px 45px 9px 0;
	}

  .common-form select.form-select, .common-form input[type="text"]:not(.date-clear) {
    width: 100%;
  }

  ul.field-options-select li{
    margin-right:0;
    float:none;
	display:block;
  }
  
  ul.field-options-select > li > select.form-select, ul.field-options-select > li > select.form-select, ul.field-options-select > li > input[type="text"] {
    width: 100% !important;
  }

  #sidebar {
    margin-top: 0 !important;
  }
  .common-form ul li.inline-bl {
    display:block;
  }

  .address-block-container .chosen-container {
    width: 100% !important;
  }
  
  .desk-bottom{
	  display:none;
  }
  .mobile-bottom{
	  display:block;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
	#work-address.back-grey.block .info-left div{
		width:100%;
		font-size:13px;
	}
  #sidebar {
    margin-top: 256px !important;
  }
  ul.field-options-select > li > select.form-select, ul.field-options-select > li > select.form-select, ul.field-options-select > li > input[type="text"] {
    width: 100% !important;
  }
  .common-form select.form-select, .common-form input[type="text"]:not(.date-clear) {
    width: 100% !important;
  }
  .common-form ul li{
	  width:100%;
  }
  .your-contact-info ul.field-options-select > li {
    width: 50%;
    float: left;
    margin-right: 0;
  }
  .your-contact-info ul.field-options-select > li:nth-child(3n+1) {
    padding-right: 10px;
  }
  .your-contact-info ul.field-options-select > li:nth-child(3n+2) {
    padding-left: 10px;
  }
  ul.form-radios li{
    width:auto !important;  
  }
  .address-block-container .chosen-container{
	  width:100% !important;
  }
  .personal-contact.common-form .state,
  #company-organization .state {
    width: 50%;
  }
  .personal-contact.common-form ul li.inline-bl,
  .personal-contact.common-form .state, 
  #company-organization .state {
    width: 50%;
  }
  #company-organization .creative-zip {
    padding-right: 14px;
  }
  #company-organization .state + .creative-zip {
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 1023px){
  .common-form ul li.inline-bl{
    display:inline-block;
    width:100%;
  }
  .calc-button {
      margin-left: 0;
      display: block;
      width: 100% !important;
      text-align: center;
  }
}


@media (max-width: 567px){
.actions-btn input[type="submit"], .actions-btn input[type="button"], .actions-btn a, .magazine-radios input[type="submit"] .magazine-radios input[type="button"]{
    width: 100% !important;
}
}

@media (max-width: 767px){
	#work-address.back-grey.block .info-left div{
		width:100%
	}
	
	
	#primary, #sidebar {
    padding: 20px;
}
	body, body .ui-widget, input[type="text"], select, label, legend, span {
    font-size: 1.8rem;
    line-height: 30px;
}

	.block-pane, .tax-deductibles-block {
    padding-bottom: 32px;
    padding-top: 27px;
}
h3 {
    font-size: 3rem;
    line-height: 30px;
}

.personal-contact.common-form .address-block-container .chosen-container, 
.personal-contact.common-form input[type="text"]#primary_home_zipcode:not(.date-clear),
.personal-contact.common-form .state,
#company-organization .state,
.personal-contact.common-form select.form-select, 
.personal-contact.common-form input[type="text"]:not(.date-clear) {
  width: 100% !important;
}
}

.address-container h3{
	margin:0;
}
.due-add-my-work-address, .due-add-my-home-address{
	margin-bottom:46px;
}
ul.personalinfo_third_party{
	margin-bottom:54px;
}

#main-content.page-personal-info .info-link{
    display: inline-block;
    margin-bottom: 24px;
}

@media (min-width: 1024px) and (max-width: 1199px){
	ul.field-options-select > li{
		width:40%;
	}
	.chosen-container{
		width:100% !important;
	}
}