<div class="row">
  <div class="col-sm-12 container-column">
    <div class="error-page-box">
      <h1 class="page-title">Thankyou!</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <div class="thankyou-description">
            <p>Thanks for renewing your membership, Alison! We just emailed you a copy of your receipt.</p>
            <p>
              <div class="edit-next">
                <div class="link-to-button">
                  <a href="https://myprofile.aia.org/Login">Update my profile</a>
                </div>
              </div>
            </p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>