{{title "Thank you | AIA"}}
<div class="row">
  <div class="col-sm-12 container-column">
    <div class="error-page-box">
      <h1 class="page-title">Thank you!</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <div class="thankyou-description">
            {{#if primaryData.data.paymentInfo.isArchiPAC}}
              <p>{{primaryData.data.personal.firstname}}, Thank you for renewing your membership and donating to ArchiPAC. Confirmation emails are sent to your primary email address.
              </p>
            {{else}}
              <p>{{primaryData.data.personal.firstname}}, Thank you for renewing your membership. Confirmation email is sent to your primary email address.</p>
            {{/if}}
              <p>
                <div class="edit-next">
                  <div class="link-to-button">
                    <a href="https://myprofile.aia.org/Login">Update my profile</a>
                  </div>
                </div>
              </p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>