<div class="row">
  <div class="col-sm-12 container-column">
    <div class="error-page-box">
      <h1 class="page-title">We can't process your renewal right now</h1>
        <p>Please contact AIA National for more information.</p>
        <p>1-800-242-3837</p>
        <p><a href="mailto:infocentral@aia.org">infocentral@aia.org</a></p>
    </div>
  </div>
</div>