{{home-page model=model}}
<div class="clearfix"></div>
<div class="renew-disclaimer">
  <div class="renew-container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div>
          <h4>Renew and Win!
          </h4>
          <div>Renew your 2016 membership by December 31, 2015 and you could win one of three AIA Convention 2016: May 19-21,Philadelphia prize packages including registration, airfare, and hotel.
            <br>
            <a href="http://www.aia.org/about/memberservices/AIAB107176" target="_blank">Review terms and conditions
            </a>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div>
          <h4>Dues Installment Program
          </h4>
          <div>Pay your dues in up to six monthly installments with our Dues Installment Program. Enrollment begins October 1, 2015 and no later than April 30, 2016 and pay your dues in up to six monthly installments.
            <br>
            <a href="http://www.aia.org/about/AIAB081429" target="_blank">Learn more
            </a>.
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div>
          <h4>Tax Deductible Dues Statement
          </h4>
          <div>Dues payments, contributions or gifts to the American Institute of Architects and its chapters are not tax deductible as charitable contributions for federal income tax purposes. However, subject to restrictions imposed by federal law, they may be deductible as ordinary and necessary business expenses. For the portion that is not allocable to lobbying and therefore may be tax deductible, see the front of the invoice. Please consult a tax professional to determine the appropriate tax treatment of your dues.  
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="disclaimer-txt">
      <div class="col-xs-12">
      <strong>Disclaimer</strong>
      <div>*Sweepstakes is open to all legal residents of the fifty (50) United States and the District of Columbia who are of 18 years or older at time of entry. Officers, directors, and employees of the American Institute of Architects and its affiliates, subsidiaries, consultants, contractors, advertising, public relations, promotion, fulfillment and marketing agencies, any and all other entities directly associated with this Sweepstakes, and the immediate families (spouses, parents, children and siblings, and their respective spouses, regardless of where they live) and individuals living in the households of the above, whether related or not, are not eligible to enter or win. Void where prohibited by law. The Sweepstakes is subject to all applicable federal, state, and local laws and regulations.
      </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>