<div class="container">
  	<div class="row">
  		<div class="col-sm-12">
        <!-- Page Specific Content -->
        <section id="content" role="main" class="clearfix">
		<div class="thanks-page">
        <h1 class="page-title">Thank you!</h1>
		<p>Welcome to AIA. With our registration, and thanks for joining! we just emailed you a copy of your receipt.</p>
		
          <form autocomplete="off" action="#" method="post"  accept-charset="UTF-8" novalidate="novalidate">
            <div id="ordersummaryinfo" class="thank-you-page payment_information">
				<div class="member-info">
				  <h3 id="ordersummaryinfo">Here's your member information.</h3>
				  <div class="member-block">
						<p>Member number: <span>36536785</span></p>
						<p>AIA account login: <span>wasim.sheikh@valuelabs.com</span></p>
                  </div>
				</div>
			  
            <!-- Architect magazine -->
            
			<div class="payment_method">
      <h3>How would you like  to recieve your copy of Architect Magazine?</h3>
      <ul class="no-style">
      	<li>
          <input type="radio" id="pay-electronic-check" name="payment_type" value="Electronic check" class="form-radio">
          <label for="pay-electronic-check">Email me the digital version</label>
        </li>
      	<li>
          <input type="radio" id="pay-in-installments" name="payment_type" value="EMI" class="form-radio">
          <label for="pay-in-installments">Mail me a print copy</label>
        </li>
      </ul>
		</div>
             
    
            <div class="clearfix"></div>
            
            <div class="actions">
                <div class="form-actions" id="edit-actions">
                   
                    <input type="submit" id="edit-next" name="op" value="Submit" class="form-submit">
                </div>
            </div>
			</div>
        </form>
		</div>
      </section>
      
  	</div>
	</div>
  </div>